@import 'variables';



.treatmentcontainer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    min-width: 280px;
    width: 90vw;
    @media screen and (max-width: $small-medium) {
        width: 100vw;
    }
    max-width: 1000px;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    background-color: white;
    padding: 2vh;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 2px 1px $treatmentbordercolor; 
    box-shadow: 0px 1px 2px 1px $treatmentbordercolor;

    h2{
        margin: 0;
    }

    .imgcontainer{
        display: flex;
        float: left;
        width: 60%;
        max-width: 450px;
        padding-right: 1rem;
        padding-bottom: 0.2rem;

    
    }

    .treatmentimg{
        width: 100%;
        object-fit: cover;    
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.8); 
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.8);
        border-radius: 2px;
    }
    
    .completedescription{
        font-size: 1.3rem;
    }
    
    .contents{
        position: fixed;
        left: 0;
        h3{
            cursor: pointer;
        }
    }
    
}



.backtotop{
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    width: 5vh;
    height: 5vh;

    img{
        width: 100%;
        transform: rotate(-90deg);
        filter: drop-shadow(2px 2px 2px black);
        cursor: pointer;
        

    }
    :hover{
        transform: rotate(-90deg) scale(1.1);

    }
}