// --- animations

@keyframes showburgermenu {
    0% {line-height:0rem; font-size: 0rem; }
    100% {line-height: 5rem; font-size: 1.5rem;}
}

@keyframes removeburgermenu {
    0% {line-height:5rem; font-size: 1.5rem; }
    100% {line-height: 0rem; font-size: 0rem;}
}

@keyframes showsubmenu {
    0% {transform: translateX(100%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

@keyframes removesubmenu {
    0% {transform: translateX(0); opacity: 1;}
    100% {transform: translateX(100%); opacity: 0;}
}

@keyframes animatereducewidth {
    0% {width: 40vw; font-size: 1.5rem;}
    100% {width: 25vw; font-size: 1.3rem;}
}

@keyframes animateincreasewidth {
    0% {width: 25vw; font-size: 1.3rem;}
    100% {width: 40vw; font-size: 1.5rem;}
}

@keyframes moveX {
    0% {right:-10vw}
    100% {right: 0vw;}
}

.move-left{
    animation: moveX 0.2s;
    right: 0;
}

.move-right{
    right: -32vw;
    transition: right 0.2s;
}

.burgermenu-wrapper{
    box-sizing: border-box;
    width: 40vw;
    position: absolute;
    top: 105%;

    & div {
        border-bottom: 1px solid rgba(255, 255, 255, 0.635);
    }

    .overflow-container{
    border-radius: 5px;
        border: none;
        overflow: hidden;
    }

    .burgermenu{
        position: relative;
        display: flex;
        justify-content: center;
        background: radial-gradient(circle, rgba(255,255,255,0.7357317927170868) 0%, rgba(237,237,237,0.738532913165266) 77%, rgba(218,218,218,0.6348914565826331) 92%);            text-transform: uppercase;
        backdrop-filter: blur(3.9px);
        text-align: center;
        font-weight: 600;
        z-index: 3;
    }
   
    .animate-show-burgermenu{
        animation: 
        showburgermenu 0.2s;
        line-height: 5rem;
        font-size: 1.5rem;
    }
    
    .animate-remove-burgermenu{
        animation: 
         removeburgermenu 0.2s;
         line-height: 0rem;
         font-size: 0rem;
         border: none !important; 
    }

    .servicemenu-reduced{
        font-size: 1.3rem;
        width: 25vw;
        transition: width 0.2s, font-size 0.2s;
    }

    .servicemenu-expanded{
        font-size: 1.5rem;
        width: 40vw;
        transition: width 0.2s, font-size 0.2s;
    }

    .reduce-fontsize{
        font-size: 1.3rem;
        transition: font-size 0.2s;

    }

    .increase-fontsize{
        font-size: 1.5rem;
        transition: font-size 0.2s;
    }

    .burgermenu-servicemenu-wrapper{
        position: absolute;
        left: 0%;
        top: 0;
        transform: translateX(-100%);
        border: none;

        & :last-child{
            border-bottom: none;
        }

        .servicemenu{
            position: relative;
            text-transform: uppercase;
            backdrop-filter: blur(5.9px);
            line-height: 5rem;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            overflow: hidden;
        }

        .glow{
            filter: brightness(85%) saturate(200%)
        }

        .kidscare-background{
            background: $kidscareBackground;
         
        }

        .cosmetologie-background{
            background: $cosmetologieBackground            
        }

        .bodyconcept-background{
            background: $bodyconceptBackground            
        }

        .curamedix-background{
            background: $curamedixBackground           
        }

        .show-submenu-animation{
            animation: showsubmenu 0.2s;
        }

        .remove-submenu-animation{
            animation: removesubmenu 0.2s;
            transform: translateX(100%);
            opacity: 0;
            overflow: hidden;
            border: none !important;
        }
    }

    .arrow{
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        height: 1.5rem;
    }

    .arrow-up {
        position: absolute;
        left: 2%;
        top:5%;
        height: 1.5rem;
        transform: rotate(-90deg); 
    }

    .burger-submenu-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        left: 0;
        top: 0;
        max-height: 70vh;
        overflow: auto;
        width: 50vw;
        transform: translateX(-100%);
        backdrop-filter: blur(3.9px);
        border: none;

        & :last-child{
            border-bottom: none !important;
        }
    }

    .burger-branch{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        line-height: 5rem;
        font-size: 1.3rem;
        font-weight: 600;
    }
}
