@import 'variables';

.slide-container{
    margin-top: 2vh;
}


.slide-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 280px;
    width: 80vw;
    max-width: 500px;
    min-height: 40vh;
    // margin-top: 37vh;
    // @media screen and (max-width: $medium) {
    //     margin-top: 33vh;
    // }
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.749) ;
    border-radius:5px ;
    cursor: pointer;
    .text-wrapper{
        box-sizing: border-box;
        position: absolute;
        left:-1%;
        bottom: 1px;
        width: 102%;
        padding-left:5%;
        padding-right:5%;
        // background: rgba(255, 255, 255, 0.342);
        border-radius: 5px;
        // box-shadow: 5px 4px 3px rgba(117, 116, 116, 0.326);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);
        // border: 1px solid rgba(241, 229, 229, 0.674);
    }
}

.slide-backside{
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 1%;
    overflow: auto;
    h2{
        margin-top: 0;
        margin-bottom: 1vh;
    }
    h3{
        margin: 0;
        font-size: 1rem;
    }
    // p{

    // }
}

.slide-arrow{
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    bottom: 50%;
    cursor: pointer;
    img{
        height: 100%;
        width: 100%;
    }
}


.slide-arrow-left{
left: 1%;
transform: rotate(180deg);
}

.slide-arrow-right{
right: 1%;
}

.hovered-right{
    transform: scale(1.08);
    filter: drop-shadow(3px 3px 2px black);
}

.hovered-left{
    transform: rotate(180deg) scale(1.08);
    filter: drop-shadow(-3px -3px 2px black);
}

.kidscare-focused{
    background: $lightgreytransparent;
}

.cosmetologie-focused{
    background: $mintgreentransparent;
}

.bodyconcept-focused{
    background: $lightochertransparent;
}

.curamedix-focused{
    background: $babaybluetransparent;
}    

