button{
    cursor: pointer;
}

.googlemap{
    max-width: 100%;
    margin: 2vh;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;

}

.contact-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2vh;
    font-size: 1.2rem;

}

.one-column{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.three-columns{
    display: flex;

    flex-direction: row;
}

.adress-container{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.phone-email-container{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    :first-child{
        margin-bottom:2vh;
    }
}

.socialmedia-container{
    margin-bottom: 1vh;
    div{
        display: flex;
    }
    .socialmedia-title{
        flex-direction: column;
        align-items: center;
        margin-bottom:1vh;
    }
    a{
        line-height: 1.4rem;
    }
    
}