@import 'variables';


html {
    @media screen and (max-width: $medium) {
        font-size: 60%;
    }
    @media screen and (max-width: $small-medium) {
        font-size: 50%;
    }
}

body {
    margin: 0;
    font-family: 'Roboto';
    max-width: 100%;
    background-color: $lightgrey-background-color;
    box-sizing: border-box;

}

a{
    outline: none;
    text-decoration: none;
}



.app-container{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}

.lightgrey-background{
    background-color: $lightgrey !important;
}

.mintgreen-background{
    background-color: $mintgreen !important;
}

.lightocher-background{
    background-color: $lightocher !important;
}

.babyblue-background{
    background-color: $babyblue !important;
}

.coolgrey-background{
    background-color: $coolgrey !important;
}

.black-color{
    color: black !important;
}

.white-color{
    color: white !important;
}

.shop-temp{
    position: absolute;
    font-size: 2rem;
    bottom: 40%;
}