@import 'variables';

.navbar-wrapper{
    box-sizing: border-box;
    // position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    -webkit-touch-callout: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: white;
    left: 0;
    z-index: 2;

    #upper-navbar{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        box-sizing: border-box;
        padding-bottom: 2vh;
    }    

    .logo{
        @media screen and (max-width: $medium) {
            height: 6vh;
        }
        cursor: pointer;
        min-height: 8vh;
        height: 15vh;
        width: 70%;
        min-width: 280px;
        max-width: 1000px;
        padding-bottom: 2vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .social-links-wrapper{
        display: flex;
        align-items: center;
        position: absolute;
        right:2%;
        top:2%;
        gap: 5px;

        a:nth-child(-n+2){
            transform: scale(1.2);
            margin-right: 2px;
        }
    }  

    .maps-location{
        width: 1.2rem;
        height: 1.2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .social-link{
        color: black;
        cursor: pointer;
    }

    .branch-wrapper{
        box-sizing: border-box;
        max-height: 60%;
        min-width: 280px;
        max-width: 800px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;

        .branch{
            box-sizing: border-box;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            position: relative;

            .branch-logo{
                width: 100%;
                height: 10vh;
                max-height: 123px;
                max-width: 117px;
                @media screen and (max-width: $medium) {
                    height: 15vw;
                    width: 23.8vw;
                }
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            
            .branch-name{
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 700;
                bottom: 1%;
                min-width: 9.5rem;
                background-color: $coolgrey;
                color: white;
                padding: 3px;
                margin-top: 1vh;
                border-radius: 5px;
                text-transform: uppercase;

                div{
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
        }
    }

    .information-sign{
        height: 4vw;
        width: 4vw;
        bottom: 17%;
        right: 2%;
        position: absolute;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .branch-name-hover{
        -webkit-box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.76); 
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.76);
        transition: -webkit-box-shadow 1s, box-shadow 1s;
    }

    .glow-grey{
        filter: drop-shadow(5px -5px 10px #cfd5d8 ) drop-shadow(-5px -5px 10px #caaba3) saturate(130%);
        transition: filter 1s;
    }

    .glow-green{
        filter: drop-shadow(5px -5px 10px #bee8cf) drop-shadow(-5px -5px 10px #bee8cf) saturate(130%);
        transition: filter 1s;
    }

    .glow-ocher{
        filter: drop-shadow(5px -5px 10px $ocherglow) drop-shadow(-5px -5px 10px $ocherglow) saturate(130%);
        transition: filter 1s;
    }

    .glow-blue{
        filter: drop-shadow(5px -5px 10px #bedae8) drop-shadow(-5px -5px 10px #bedae8) saturate(130%);
        transition: filter 1s;
    }

    .branch-focused{
        transform: scale(1.2) ;
        transition: transform 0.5s;
    }

    .faded{
        transform: scale(1.0);
        transition: transform 2s;
    }

    .navbar-line{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        -webkit-box-shadow: 0px 1px 2px 1px $treatmentbordercolor; 
        box-shadow: 0px 1px 2px 1px $treatmentbordercolor;

        .nav-buttons{
            display: flex;
            justify-content: space-around;
            min-width: 660px;
            width: 60%;
            max-width: 800px;
            color: white;
            font-size: 1.2rem;

            div{
                cursor: pointer;
                width: 15vh;
                text-align: center;

            }
        }

        // .hamburger-box{
            // margin-left: auto;
            .hamburger{
                position: absolute;
                right: 2vh;
                font-size: 7vh;
                // font-size: 8vh;
                // padding-right: 2vw;
            }
        // }

        .hamburger-top-line{
            // transform: translateY(-25%);
        }

        .hamburger-bottom-line{
            // transform: translateY(-70%);
        }

        .wrapper{
            display: flex;
            gap: 1vw;
            padding-right: 1vw;
        }

        .location{
            height: 2.3rem;
            width: 2.3rem;
            margin-top: 2px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }


        .phone{
            margin-top: 2px;
            height: 3rem;
            width: 3rem;
        }

        .filter-inverted{
            filter: invert(100%);
        }

        .servicemenu-wrapper{
            display: flex;
            justify-content: space-around;
            min-width: 660px;
            width: 60vw;
            max-width: 800px;

            & > div{
                cursor: pointer;
                width: 15vh;
                text-align: center;
            }
        }

        .font-size-0{
            font-size: 0;
            transition: font-size 0.2s;
        }

        .font-size-1rem{
            font-size: 1rem;
            transition: font-size 0.2s;
        }
    }

    .bottom-line{
        bottom: 0;
       
        margin-top: auto;
    }

    // height in pixels?

    .min-height-4{
        min-height: 4vh;
        // max-height: 8vh;
        transition: min-height 0.2s;
    }

    .min-height-7{
        @media screen and (min-height: 800px) {
        min-height: 4vh;
    }
        min-height: 7vh;
        transition: min-height 0.2s;
    }

    .top-line{
        position: fixed;
        left: 0;
     
    }

    .dropdown{
        position: absolute;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        font-size: 1.2rem;
        line-height: 3rem;
        top: 100%;
        z-index: 1;
        max-height: 65vh;
        color: black;
        background: rgba(218, 206, 206, 0.644);
        border-radius: 5px;
        box-shadow: 5px 4px 30px rgba(117, 116, 116, 0.326);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);
        border: 1px solid rgba(241, 229, 229, 0.674);
        overflow: auto;

        h3{
            margin: 1vh;
            text-transform: uppercase;
        }

        h4{
            margin: 1vh;
            margin-top: 0;
            text-transform: uppercase;
            padding-bottom: 0.5vh;
        }

         & :last-child{
            border-bottom: none;
            margin-bottom: 0;
        }

        :first-child{
            margin-top: 2px;
        }
    }

    .treatment-title{
        cursor: pointer;
        list-style-type: none;
        text-align: left;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.635);
        padding: 2px;
        border-radius: 2px;
    }

    .treatment-titlehover{
        color: white;
        background: rgba(26, 25, 25, 0.555);
    }

    .kidscare-focused{
        background-color: $lightgreytransparent;
        left:0;

    }

    .cosmetologie-focused{
        background-color: $mintgreentransparent;
    }

    .bodyconcept-focused{
        background-color: $lightochertransparent;
    }

    .curamedix-focused{
        background-color: $babaybluetransparent;
        left: -100%;
    }
} 