@import 'variables';

.navbarwrapper{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    // max-height: 33vh;
    width: 100vw;
    -webkit-touch-callout: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: white;
    left: 0;
    z-index: 2;

#uppernavbar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;

    padding-bottom: 2vh;


}    




    .logo{
        @media screen and (max-width: $medium) {
            height: 6vh;
        }
        cursor: pointer;
        
        min-height: 8vh;
        height: 15vh;
        // max-height: 15vh;
        width: 70%;
        min-width: 280px;
        max-width: 1000px;
        padding-bottom: 2vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .sociallinkwrapper{
        display: flex;
        align-items: center;
        position: absolute;
        right:2%;
        top:2%;
        gap: 5px;

        a:nth-child(-n+2){
            transform: scale(1.2);
            margin-right: 2px;
        }


    }  

    .mapslocation{
        width: 1.2rem;
        height: 1.2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        // transform: scale(1.2);

    }

    .sociallink{
        color: black;
        cursor: pointer;
    }

    .branchwrapper{
        box-sizing: border-box;
        max-height: 60%;
        min-width: 280px;
        // width: 80%;
        max-width: 800px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        // display: flex;
        .branch{
        box-sizing: border-box;

            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            position: relative;
            

            .branchlogo{
                width: 100%;
                height: 10vh;
                max-height: 123px;
                max-width: 117px;
                @media screen and (max-width: $medium) {
                    height: 15vw;
                    width: 23.8vw;
                }
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            
            .branchname{
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 700;
                bottom: 1%;
                min-width: 9.5rem;
                background-color: $coolgrey;
                color: white;
                padding: 3px;
                margin-top: 1vh;
                border-radius: 5px;
                text-transform: uppercase;

                div{
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
        }
    }



    .informationsign{
        height: 4vw;
        width: 4vw;
        bottom: 17%;
        right: 2%;
        position: absolute;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .branchnamehover{
        -webkit-box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.76); 
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.76);
        transition: -webkit-box-shadow 1s, box-shadow 1s;
    }

    .glowgrey{
        filter: drop-shadow(5px -5px 10px #cfd5d8 ) drop-shadow(-5px -5px 10px #caaba3) saturate(130%);
        transition: filter 1s;
    }
    .glowgreen{
        filter: drop-shadow(5px -5px 10px #bee8cf) drop-shadow(-5px -5px 10px #bee8cf) saturate(130%);
        transition: filter 1s;
    }
    .glowocher{
        filter: drop-shadow(5px -5px 10px $ocherglow) drop-shadow(-5px -5px 10px $ocherglow) saturate(130%);
        transition: filter 1s;
    }
    .glowblue{
        filter: drop-shadow(5px -5px 10px #bedae8) drop-shadow(-5px -5px 10px #bedae8) saturate(130%);
        transition: filter 1s;
    }

    .focusbranch{
        transform: scale(1.2) ;
        transition: transform 0.5s;
    }

    .faded{
        transform: scale(1.0);
        transition: transform 2s;
    }


    .navbarline{
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        position: relative;
        width: 100%;
        -webkit-box-shadow: 0px 1px 2px 1px $treatmentbordercolor; 
        box-shadow: 0px 1px 2px 1px $treatmentbordercolor;
        .nav-buttons{
            display: flex;
            justify-content: space-around;
            min-width: 660px;
            width: 60%;
            max-width: 800px;
            color: white;
            font-size: 1.2rem;
            div{
                cursor: pointer;

            }
        }
        .hamburger-box{
            margin-left: auto;

            .hamburger{
                font-size: 8vh;
                padding-right: 2vw;
            }

          
        }
// classes with equal names
        .hamburger-topline{
            transform: translateY(-25%);
        }

        .hamburger-bottomline{
            transform: translateY(-70%);
        }
        .wrapper{
            display: flex;
            gap: 1vw;
            padding-right: 1vw;
        }
        .location{
            height: 2.3rem;
            width: 2.3rem;
            margin-top: 2px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }


        .phone{
            margin-top: 2px;
            height: 3rem;
            width: 3rem;
        }

        .invertfilter{
            filter: invert(100%);
        }

    }

  

    .bottomline{
        bottom: 0;
        height: 4vh;
        transition: height 0.2s;

        margin-top: auto;
    }

    .topline{
        position: fixed;
        left: 0;
        height: 7vh;
        transition: height 0.2s;


    }

    .dropdown{
        position: absolute;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        font-size: 1.2rem;
        line-height: 3rem;
        top: 100%;
        z-index: 1;
        max-height: 65vh;
        color: black;
        background: rgba(218, 206, 206, 0.644);
        border-radius: 5px;
        box-shadow: 5px 4px 30px rgba(117, 116, 116, 0.326);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);
        border: 1px solid rgba(241, 229, 229, 0.674);
        overflow: auto;
        h3{
            margin: 1vh;
            text-transform: uppercase;
        }
        h4{
            margin: 1vh;
            margin-top: 0;
            text-transform: uppercase;
            padding-bottom: 0.5vh;
        }
         & :last-child{
            border-bottom: none;
            margin-bottom: 0;
        }
        :first-child{
            margin-top: 2px;
        }
    }

    #Kidscaredropdown{
        left:0;
    }

    #Curamedixdropdown{
        left: -100%;
    }

    .treatmenttitle{
        cursor: pointer;
        list-style-type: none;
        text-align: left;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.635);
        padding: 2px;
        border-radius: 2px;
    
    }


    .treatmenttitlehover{
        color: white;
        background: rgba(26, 25, 25, 0.555);
    }

    .Kidscarefocus{
        background-color: $lightgreytransparent;
    }

    .Cosmetologiefocus{
        background-color: $mintgreentransparent;
    }

    .Bodyconceptfocus{
        background-color: $lightochertransparent;
    }

    .Curamedixfocus{
        background-color: $babaybluetransparent;
    }
    
    @keyframes moveX {
        0% {right:-10vw}
        100% {right: 0vw;}
    }

    .moveleft{
        animation: moveX 0.2s;
        right: 0;
    }

    .moveright{
        right: -32vw;
        transition: right 0.2s;
    }

    .burgermenuwrapper{
        box-sizing: border-box;
        width: 40vw;
        position: absolute;
        top: 105%;
        // overflow:hidden;



        & div {
            border-bottom: 1px solid rgba(255, 255, 255, 0.635);
        }

        .overflowcontainer{
        border-radius: 5px;
            border: none;
            overflow: hidden;
        }

      
        // & :last-child{
        //     border-bottom: none;
        //     border-radius: 0px 0px 5px 5px;
        // }
        // & :first-child{
        //     border-radius: 5px 5px 0px 0px;
        // }
 
        @keyframes showburgermenu {
            0% {line-height:0rem; font-size: 0rem; }
            100% {line-height: 5rem; font-size: 1.5rem;}
        }

        @keyframes removeburgermenu {
            0% {line-height:5rem; font-size: 1.5rem; }
            100% {line-height: 0rem; font-size: 0rem;}
        }

        .burgermenu{
            position: relative;
            display: flex;
            justify-content: center;
            background: radial-gradient(circle, rgba(255,255,255,0.7357317927170868) 0%, rgba(237,237,237,0.738532913165266) 77%, rgba(218,218,218,0.6348914565826331) 92%);            text-transform: uppercase;
            backdrop-filter: blur(3.9px);
            text-align: center;
            font-weight: 600;
            z-index: 3;
        }

       
        .animateshowburgermenu{
            animation: 
            showburgermenu 0.2s;
            line-height: 5rem;
            font-size: 1.5rem;
        }
        
        .animateremoveburgermenu{
            animation: 
             removeburgermenu 0.2s;
             line-height: 0rem;
             font-size: 0rem;
             border: none !important; 
        }

        .servicemenureduced{
            // animation: animatereducewidth 0.2s;
            font-size: 1.3rem;
            width: 25vw;
            transition: width 0.2s, font-size 0.2s;
        }

        .servicemenuexpanded{
            // animation: animateincreasewidth 0.2s ;
            font-size: 1.5rem;
            width: 40vw;
            transition: width 0.2s, font-size 0.2s;


        }

        .reducefontsize{
            font-size: 1.3rem;
            transition: font-size 0.2s;

        }

        .increasefontsize{
            font-size: 1.5rem;
            transition: font-size 0.2s;

        }

        .servicemenuwrapper{
            position: absolute;
            left: 0%;
            top: 0;

            transform: translateX(-100%);
            border: none;

            & :last-child{
                border-bottom: none;
            }
            // & :first-child{
            //     border-radius: 5px 5px 0px 0px;
            // }


            .servicemenu{
                position: relative;
                text-transform: uppercase;
                backdrop-filter: blur(5.9px);
                line-height: 5rem;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                overflow: hidden;
            }

            .glow{
                filter: brightness(85%) saturate(200%)
            }

            .kidscarecolor{
                background: $kidscareBackground;
             
            }

            .cosmetologiecolor{
                background: $cosmetologieBackground            
            }

            .bodyconceptcolor{
                background: $bodyconceptBackground            
            }

            .curamedixcolor{
                background: $curamedixBackground           

            }

            @keyframes showsubmenu {
                // 0% {width: 0vw;}
                // 100% {width: 40vw;}
                0% {transform: translateX(100%); opacity: 0;}
                100% {transform: translateX(0%); opacity: 1;}
            }

            @keyframes removesubmenu {
                0% {transform: translateX(0); opacity: 1;}
                100% {transform: translateX(100%); opacity: 0;}
            }

            .animateshowsubmenu{
                animation: showsubmenu 0.2s;
                // width: 40vw;
            }

            .animateremovesubmenu{
                animation: removesubmenu 0.2s;
                transform: translateX(100%);
                opacity: 0;
                overflow: hidden;
                border: none !important;
            }

            @keyframes animatereducewidth {
                0% {width: 40vw; font-size: 1.5rem;}
                100% {width: 25vw; font-size: 1.3rem;}
            }

            @keyframes animateincreasewidth {
                0% {width: 25vw; font-size: 1.3rem;}
                100% {width: 40vw; font-size: 1.5rem;}
            }

       
        }

        .arrow{
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            height: 1.5rem;
        }

        .arrowup {
            position: absolute;
            left: 2%;
            top:5%;
            height: 1.5rem;

            transform: rotate(-90deg); 
        }

        .burgersubmenuwrapper{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            left: 0;
            top: 0;

            max-height: 70vh;
            overflow: auto;
            width: 50vw;
            transform: translateX(-100%);
            backdrop-filter: blur(3.9px);
            border: none;

            & :last-child{
                border-bottom: none !important;
            }
        }

        .burgerbranch{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            line-height: 5rem;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

// menu top points are hiding