$lightgrey: #e4c9c0;
$mintgreen:  #b0c9b7;
$lightocher: #e7db9f;
$babyblue: #d5e9ec;
$coolgrey: #7b746f;

$ocherglow: #e6c41e;

$mintgreentransparent: #b0c9b7ab;
$lightgreytransparent: #e4c9c0b1;
$lightochertransparent: #e7db9fb6;
$babaybluetransparent: #d5e9ecb0;

$lightgreybackground: rgb(245, 245, 245);
$treatmentbordercolor: rgb(194, 194, 194); 


$small : 280px;
$medium : 700px;
$small-medium : 400px;

                             
$kidscareBackground: radial-gradient(circle, rgba(255, 255, 255, 0.505) 0%, 
                     #e4c9c0 50%, rgba(208, 165, 165, 0.422) 92%);
$cosmetologieBackground: radial-gradient(circle, rgba(255, 255, 255, 0.505) 0%,
                     #b3c1b7 50%, rgba(117, 147, 137, 0.422) 92%);
$bodyconceptBackground: radial-gradient(circle, rgba(255, 255, 255, 0.505) 0%, 
                     #e3ddbf 50%, rgba(169, 150, 80, 0.422) 92%);
$curamedixBackground: radial-gradient(circle, rgba(255, 255, 255, 0.505) 0%, 
                     #d5e9ec 50%, rgba(123, 159, 188, 0.422) 92%);
