$lightgrey: #e4c9c0;
$mintgreen:  #b0c9b7;
$lightocher: #e7db9f;
$babyblue: #d5e9ec;
$coolgrey: #7b746f;

$ocherglow: #e6c41e;

$mintgreentransparent: #b0c9b7ab;
$lightgreytransparent: #e4c9c0b1;
$lightochertransparent: #e7db9fb6;
$babaybluetransparent: #d5e9ecb0;


$small : 280px;
$medium : 700px;