@import './partials/carousel';
@import './partials/globals';
@import './partials/variables';
@import './partials/navbar';
@import './partials/footer';
@import './partials/branches';
@import './partials/contact';
@import './partials/about';
@import './partials/burgermenu';